{% extends 'flatpages/default.html' %}

{% block title %}
Products
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <hr>
   {% if posts %}
       Всего новостей: {{ posts|length }}
       <table>
           <tr>
               <td>Загаловок</td>
               <td>Дата публикации</td>
               <td>Из самой статьи</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.heading }}</td>
               <td>{{ post.time_create|date:'j M Y' }}</td>
               <td>{{ post.text|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}